.navItem {
  color: #ffc;
  text-transform: uppercase;
  margin-right: 25px;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

.navItem::after {
  position: absolute;
  color: #fff;
  right: 0;
  top: 41px;
  width: 100%;
  content: " ";
  display: block;
  border-bottom: 5px solid #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.navItem:hover::after, .navItemActive::after {
    transform: scaleX(1);
  }
  